/*Global styling for mobile usage*/

/*Hides all menu options except menu and the drop down icon when on mobile device*/
@media screen and (max-width: 600px) {

header {box-sizing: border-box;
      text-align: center;}

body {
  margin: 0;
  padding: 0;
  color: #000000; 
  font-family: sans-serif; 
  background: url(../images/background.jpg);
/* */
  background-repeat: no-repeat;
}

.footercontainer { overflow: hidden;
  background-color: #333;
  position: absolute;
}
.footercontainer a {  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transform: scale(1);
  transition: 0.8s ease;}
  
 .footercontainer a:hover {  background-color: #ddd;
  color: black;
} 

.footernav {display: none;}
  
footer { position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 17px;
  background-color: #333;
  text-align: left;
  }

 .navcontainer {
     width:35%;
     height:auto;
     line-height:50px;
     position:fixed;
  background-color: #333;
}

.navcontainer a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transform: scale(1);
transition: 0.8s ease;
}

.navcontainer a:hover {
  background-color: #ddd;
  
  color: black;
}

.navcontainer a.active {
  background-color: #4CAF50;
  color: white;
}

/*Mobile styling for index*/

.welcome{ font-size: 15px;
          text-align: right;
		  padding-top: 10px;
		  padding-left: 190px;
		  position: static;

}		  
  
  /*Table transform styles from https://stackoverflow.com/questions/6368061/most-common-way-of-writing-a-html-table-with-vertical-headers */
.indextable
           {
		  font-size: 15px;
          text-align: left;
		  padding-top: 10px;
		  padding-right: 300px;
		  position: absolute;
		  
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
     /* Safari/Chrome */
     -moz-transform: rotate(-90deg);
     /* Firefox */
     -o-transform: rotate(-90deg);
     /* Opera */
     -ms-transform: rotate(-90deg);
	 }
		  
 /* Handles the stylings for the mouseover text pieces. Image is automatically hidden and is shown when hovered over by the user; changed via JS*/
		  
 p.personal a img {
    display: none;
    position: absolute;
    right: 150%;
    bottom: 50%;
	border: 4px solid grey;
	width: 400%;
	height: 1100%;

}
p.personal a {
    display: inline-block;
    position: relative;
	color: inherit;
	text-decoration:none;
	
}
p.personal {
    margin-left: 20px;
	margin-top: 250px;
}

 p.university a img {
    display: none;
    position: absolute;
    right: 150%;
    bottom: 50%;
	border: 4px solid grey;
	width: 400%;
	height: 1100%;
    

}
p.university a {
    display: inline-block;
    position: relative;
	color: inherit;
	text-decoration:none;
	
}
p.university {
    margin-left: 20px;
	margin-top: 250px;
}

 p.dailypost a img {
    display: none;
    position: absolute;
    right: 150%;
    bottom: 50%;
	border: 4px solid grey;
	width: 400%;
	height: 1100%;

}
p.dailypost a {
    display: inline-block;
    position: relative;
	color: inherit;
	text-decoration:none;
	
	
}
p.dailypost {
    margin-left: 20px;
	margin-top: 250px;
}

 p.learningtidbits a img {
    display: none;
    position: absolute;
    right: 150%;
    bottom: 50%;
	border: 4px solid grey;
	width: 400%;
	height: 1100%;

}
p.learningtidbits a {
    display: inline-block;
    position: relative;
	color: inherit;
	text-decoration:none;
	
}
p.learningtidbits{
    margin-left: 20px;
	margin-top: 250px;
}

 p.music a img {
    display: none;
    position: absolute;
    right: 150%;
    bottom: 50%;
	border: 4px solid grey;
	width: 400%;
	height: 1100%;

}
p.music a {
    display: inline-block;
    position: relative;
	color: inherit;
	text-decoration:none;
	
	
}
p.music {
    margin-left: 20px;
	margin-top: 250px;
}

/*Main styling for Personal page*/

/*Flexbox properties gleamed from https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.flexheader {
  padding: .5vw;
  font-size: 0;
  display: flex;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;

  padding-left: 100px;

}
.flexheader > div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
    display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
}
.flexheader  div img {
  width: 50%; 
  height: auto; 
  
}


/*Container for the text*/
.text-container-top {display: inherit;
  overflow: hidden;
  margin: 0;
  width: 110%;
   }
 

.top-blockquote {padding: 0;
  line-height: 1.4em;
  width: 70%;
  }

 /*Main styling for university (mobile)*/
  
.mainHeader {padding-top: 450px;

}  
  
  div[id*="container_"] {
  display: none;
  text-align: center;
}

.uni1 { height: 40%;
      width: 40%;
	  display: block;
    margin-left: auto;
    margin-right: auto }


#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }
 
.imgcontainer {margin-left:auto; 
          margin-right:auto;
		  font-size: 25px;
          text-align: center;
		  padding-top: 120px;
		  height: 40%;
}

.html, .css, .javascript {
height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
	}
  
/*Main styling for DailyPost page*/
.dailycontainer{padding-top: 500px;
}
			
.basilchase {
            box-sizing: border-box;
            border: 2px solid grey;
			padding: 10px;
			margin: 10px;
			}
			
.recentillness {
            box-sizing: border-box;
            border: 2px solid grey;
			padding: 10px;
			margin: 10px;
			}
			
.websitedevelopment {
            box-sizing: border-box;
            border: 2px solid grey;
			padding: 10px;
			margin: 10px;
			}
			
.christmas {
            box-sizing: border-box;
            border: 2px solid grey;
			padding: 10px;
			margin: 10px;
			}
			
 /*Main styling for Learning Tidbits page*/
 
 .learningtidbits {padding-top: 500px;}
 
 .learn1, .learn2, .learn3, .learn4 {
            
            box-sizing: border-box;
            border: 2px solid grey;
			padding: 15px;
			text-align:center;
		    margin: 10px;
			}

/*Main styling for Music page*/

 /*Video styling elements taken from https://stackoverflow.com/questions/37790166/how-to-add-youtube-video-as-video-instead-of-an-embedded-iframe */
 
.video-container iframe {
        position: inherit;
        width:70%;
        height: 70%;
		overflow:hidden;
		padding-left: 190px;
    }

.aboutmusic{display: inherit;
  overflow: hidden;
  margin: 0;
  width: 60%;
  padding-top: 530px;}
  
  }



/********************************************************************************/

@media only screen and (min-width: 830px){

/*Global styles for tablet devices*/

.navcontainer {
  overflow: hidden;
  background-color: #333;
}

.navcontainer a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transform: scale(1);
transition: 0.8s ease;
}

.navcontainer a:hover {
  background-color: #ddd;
  
  color: black;
}

.navcontainer a.active {
  background-color: #4CAF50;
  color: white;
}

}

/**********************************************************/

@media only screen and (min-width: 1260px){

/*Global styling for desktop usage*/


header {box-sizing: border-box;
      text-align: center;}

body {
  margin: 0;
  padding: 0;
  color: #000000; 
  font-family: sans-serif; 
  background: url(../images/background.jpg);
  background-size: 100%
  
}

.footercontainer { overflow: hidden;
  background-color: #333;
}
.footercontainer a {  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transform: scale(1);
  transition: 0.8s ease;}
  
 .footercontainer a:hover {  background-color: #ddd;
  color: black;
} 

.footernav {overflow: hidden;
  background-color: #333;
  text-align: right; 
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  font-size: 17px;
  background-color: #333;
  text-align: left;
}

.footernav a {  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transform: scale(1);
  transition: 0.8s ease;}
  
.footernav a:hover {  background-color: #ddd;
  color: black;
} 

  
  

footer { position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 17px;
  background-color: #333;
  text-align: left;
  }
 
 

 .navcontainer {
  overflow: hidden;
  background-color: #333;
}

.navcontainer a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transform: scale(1);
transition: 0.8s ease;
}

.navcontainer a:hover {
  background-color: #ddd;
  
  color: black;
}

.navcontainer a.active {
  background-color: #4CAF50;
  color: white;
}

/*Main styling for home page/index*/

.welcome{ font-size: 25px;
          text-align: center;

}		  
  
table
                  {margin-left:auto; 
          margin-right:auto;
		  font-size: 25px;
          text-align: center;
		  padding-top: 220px;
		  }
		  
		  		  
/* Handles the stylings for the mouseover text pieces. Image is automatically hidden and is shown when hovered over by the user; changed via JS*/
		  
 p.personal a img {
    display: none;
    position: absolute;
    left: -300%;
    top: 150%;
	border: 4px solid grey;

}
p.personal a {
    display: inline-block;
    position: relative;
	color: inherit;
	text-decoration:none;
	
}
p.personal {
    margin-left: 150px;
	text-align: center;
}

 p.university a img {
    display: none;
    position: absolute;
    left: -250%;
    top: 150%;
	border: 4px solid grey;
    

}
p.university a {
    display: inline-block;
    position: relative;
	color: inherit;
	text-decoration:none;
	
}
p.university {
    margin-left: 150px;
}

 p.dailypost a img {
    display: none;
    position: absolute;
    left: -150%;
    top: 150%;
	border: 4px solid grey;

}
p.dailypost a {
    display: inline-block;
    position: relative;
	color: inherit;
	text-decoration:none;
	
	
}
p.dailypost {
    margin-left: 150px;
}

 p.learningtidbits a img {
    display: none;
    position: absolute;
    left: -50%;
    top: 150%;
	border: 4px solid grey;

}
p.learningtidbits a {
    display: inline-block;
    position: relative;
	color: inherit;
	text-decoration:none;
	
}
p.learningtidbits{
    margin-left: 150px;
}

 p.music a img {
    display: none;
    position: absolute;
    left: -450%;
    top: 150%;
    border: 4px solid grey;

}
p.music a {
    display: inline-block;
    position: relative;
	color: inherit;
	text-decoration:none;
	
	
}
p.music {
    margin-left: 150px;
}



/*Main styling for DailyPost page*/
				
.basilchase {
            box-sizing: border-box;
            border: 2px solid grey;
			padding: 10px;
			margin: 10px;	
			}
			 
			
.recentillness {
            box-sizing: border-box;
            border: 2px solid grey;
			padding: 10px;
			margin: 10px;
			}
			
.websitedevelopment {
            box-sizing: border-box;
            border: 2px solid grey;
			padding: 10px;
			margin: 10px;
			}
			
.christmas {
            box-sizing: border-box;
            border: 2px solid grey;
			padding: 10px;
			margin: 10px;
			}
			
/*Main styling for University page*/

div[id*="container_"] {
  display: none;
  text-align: center;
}

.uni1 { height: 40%;
      width: 40%;
	  display: block;
    margin-left: auto;
    margin-right: auto }

#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }
 
.imgcontainer {margin-left:auto; 
          margin-right:auto;
		  font-size: 25px;
          text-align: center;
		  padding-top: 120px;
		  height: 40%;
}

.html, .css, .javascript {
height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
	}



/*Main styling for Personal page*/

/*Flexbox properties gleamed from https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.flexheader {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
  justify-content: center;
}
.flexheader > div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}
.flexheader  div img {
width: 90%; 
  height: auto; 
}


/*Container for the text*/
.text-container-top {display: inherit;
  overflow: hidden;
  margin: 0;
  width: 60%;
   }
 

.top-blockquote {padding: 0;
  line-height: 1.4em;
  width: 70%;
  }

 /*Main styling for Learning Tidbits page*/
 
 .learn1, .learn2, .learn3, .learn4 {
            box-sizing: border-box;
            border: 2px solid grey;
			padding: 15px;
			text-align:center;
		    margin: 10px;
			}

/*Main styling for Music page*/

 /*Video styling elements taken from https://stackoverflow.com/questions/37790166/how-to-add-youtube-video-as-video-instead-of-an-embedded-iframe */
 
.video-container iframe {
        position: absolute;
        width:50%;
        height: 50%;
		overflow:hidden;
		padding-top: 50px;
		padding-left: 50px;
    }

.aboutmusic{display: inherit;
  overflow: hidden;
  margin: 0;
  width: 60%;
  padding-top: 530px;}
  
  }
  
  
  