

header {box-sizing: border-box;}

navcontainer {box-sizing: border-box;}

.dailyposts {
            box-sizing: border-box;
            border: 1px solid red;
			
			}
			
.basilchase {
            box-sizing: border-box;
            border: 1px solid red;
			padding: 10px;
			}
			
.recentillness {
            box-sizing: border-box;
            border: 1px solid red;
			padding: 10px;
			}
			
.websitedevelopment {
            box-sizing: border-box;
            border: 1px solid red;
			padding: 10px;
			}
			
.christmas {
            box-sizing: border-box;
            border: 1px solid red;
			padding: 10px;
			}